.page {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
  }

.title {
    padding-top: 20px;
    font-family: 'Merriweather';
    font-weight: bold;
}

.outer {
    padding-bottom: 50px;
}